.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
MakeOut
makestrs
missing
mkinstalldirs
Shell.h
stamp-h1
StringDefs.c
StringDefs.h
xt.pc
*~
*.1
*.3
*.o
*.la
*.lo
libXt-*.tar.*
ChangeLog
tags
